.MainContainerXbox{
    margin-top: 100px;
}
.Sezione1{
}
.buttonXbox{
    border: solid 2px white;
    background-color: transparent;
    color: #ebe9fc;
}
.buttonXbox:hover{

    font-size: 1.1rem;
    background-color: #6132ad;
    color: ebe9fc;
    box-shadow: #ebe9fc;
}
.XboxImageContainer {
    position: relative;
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(347deg, rgba(2,0,36,1) 0%, rgba(32,163,8,1) 100%);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.NintendoImageContainer {
    position: relative;
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(232,232,232);
    background: linear-gradient(347deg, rgba(232,232,232,1) 0%, rgba(219,1,1,1) 100%);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.PCImageContainer {
    position: relative;
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(347deg, rgba(2,0,36,1) 0%, rgba(59,8,163,1) 100%);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.PlaystationImageContainer {
    position: relative;
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(347deg, rgba(2,0,36,1) 0%, rgba(8,42,163,1) 100%);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.HeaderOverlay {
    text-align: center;
    color: white;
}

.steam-icon {
    font-size: 15rem;
    opacity: 0.9;
    animation: fadeInUp 1s ease-in-out;
}

.header-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
}

.header-subtitle {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #ccc;
}
.ContainerGiocoSingoloX{
  margin-top: 100px;
  padding: 0;
  position: relative;
  width: 100%;
  height: 600px; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.GiocoSingoloImageX{
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../src/assets/halo.webp");
  background-size: cover;
  background-position: center;
  object-fit: cover;
  filter:brightness(0.9);
  background-repeat: no-repeat;
  }
  .ContainerGiocoSingoloInfo{
position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: black;
  text-align: left;
  }
  .GiocoTitolo {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .GiocoPrezzo {
    font-size: 1.8rem;
    font-weight: 500;
    color: #ffb300;
  }
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}