.ImgMain:hover{
    transform: scale(1.05);
}
.VerticalSpacer{
    border: solid 0.5px rgb(5, 5, 5);
    height: 70px;
    margin-top: 10px;
}
.MainContainer{
    padding-left: 0;
}
.HeroSection {
    position: relative;
    width: 100%;
    height: 400px; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 70px;
}

.HeroImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assicura che l'immagine copra l'header */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.HeroOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Oscurisce leggermente l'immagine */
    z-index: 1;
}

.HeroContent {
    position: relative;
    text-align: center;
    z-index: 2;
    color: #fff;
    max-width: 600px;
}

.HeroTitle {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Inter';
    text-transform: uppercase;
    animation: fadeInDown 1s ease-in-out;
}

.HeroSubtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease-in-out;
}

.HeroButton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background: #6132ad;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    animation: fadeInUp 1.2s ease-in-out;
}

.HeroButton:hover {
    background: #e9e9e9;
    color: rgba(0, 0, 0, 0.829);
}
.GameBg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: #e9e9e9;
  border-radius: 5px;
}
.PlatformBg{
    background-color: #e9e9e9;
    padding-bottom: 10px;
}
.PlatformLogo{
    width: 50px;
    height: 50px;
}
.Sezione3{
    padding-left: 10%;
    padding-right: 10%;
}
.Sezione3{
    padding-left: 10%;
    padding-right: 10%;
}
.btnCarica:hover{
    text-decoration: underline #6132ad 2px;
    transform: scale(1.1);
}
.h3{
    text-decoration-line: none !important;
    color: #e9e9e9;
}
.h3:hover{
   font-size: 1.9rem;
}
.VerticalSpacerS3{
    border: solid 0.5px #e9e9e9;
    height: 200px;
    margin-top: 10px;
    width: 1px;
    display: inline;
}
#Sezione3Colonna:hover{
   width: 160px;
   height: 160px;
}
#DescrizioneGioco{
    color: #e9e9e9;
    font-size: 0.8rem;
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}