.MainContainerSearch{
    padding-left: 0%;
    padding-right: 0;
    margin-top: 100px;
}
.Sezione1{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.FilterContainer{
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.ButtonGroup{
    display: flex;
    align-items: center;
    height: 60px;
}
.ButtonGroupButton{
    font-size: 1.2rem;
    margin-right: 10px;
    background-color: black;
    border: solid 2px white;
    color: #ebe9fc;
    padding-right : 20px;
    padding-left: 20px;
}
.ButtonGroupButton:hover{
    background-color: #6132ad;
    border: #6132ad;
    transform: scale(1.1);
}
.VerticalSpacerS{
    margin-right: 20px;
    border: solid 0.5px #ebe9fc;
    height: 70px;
    margin-top: 10px;
}
.DropdownMenu{
    background-color: #6132ad;
    margin-left: 0%;
}
.DropdownItem{
    background-color: #6132ad;
    color: #ebe9fc;
}
.scroll-container {
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .scroll-container::-webkit-scrollbar {
    display: none;
  }

  .scroll-container {
    scrollbar-width: none;
  }
  
  .game-col {
    flex: 0 0 auto;
    scroll-snap-align: start;
    margin-right: 10px;
  }
  @media screen and (min-width:500px) and (max-width:768px) {
    .FilterContainer{
        justify-content: flex-start;
        margin-left: 3%;
    }
  }