.Navbg{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    transition: transparent 1.3s ease-in-out;
}
.scrolled-NavBg{
    transition:  0.3s ease-in-out;
    background-color: white;
}
.SearchBtn{
    background-color: #6132ad;
    border-color: #6132ad;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
}
.RegisterLogin{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #6132ad;
    border-color: #6132ad;
    border-radius: 0%;
    min-width: 100px;
}
.RegisterLoginLink{
    text-decoration-line: none;
    color: #eeeeee;
}
.SearchBtn:hover{
    background-color: #695ba4;
}
.SearchbarIcons{
    display: flex;
    align-items: center;
    border: solid 1px transparent;
    background-color: #6132ad;
    border-radius: 25px;
    padding: 2px;
}
.SearchbarImages{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-left: 20px;
}
.search-input-container {
    width: 100px;
    position: absolute;
    top: 60px;
    left: 59.5%;
    transform: translateX(-50%);
    width: 50%;
    padding: 5px;
    z-index: 1000px;

}

.search-input {
    width: 50%;
    padding: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    border: 3px solid purple;
    border-radius: 20px;
    font-size: 16px;
}

