.Footer{
    width: 100%;
    margin-top: 20px;
    padding: 0;
}
#social:hover{
  font-size: 2.7rem;
}
.FooterBg{
    background-color: #fffbfb;
}
.FooterLinks{
    color: grey;
    text-decoration-line: none;
}
.FooterLinks:hover{
  text-decoration: underline solid black;
  color: #6132ad;
}
.FooterBtn{
    color: grey;
    background-color: #fffbfb;
    border-color: grey;
    margin-top: 10px;
    margin-right: 15px;
}
.FooterBtn2{
    background-color: #fffbfb;
    color: grey;
    border-color: grey;
    margin-top: 10px;
}
.FooterCopyright{
    margin-left: 10px;
}
@media screen and (min-width:600px) and (max-width:768px){
    .FooterBtn,.FooterCopyright{
        margin-left: 20px;
    }
} 
@media screen and (min-width:769px) and (max-width:880px){
    .FooterBtn,.FooterCopyright{
        margin-left: 40px;
    }
} 
@media screen and (min-width:1024px) and (max-width:1200px){
    .FooterCopyright{
        margin-left: 30px;
    }
}
@media screen and (min-width:1280px) and (max-width:1600px){
    .FooterCopyright{
        margin-left: 75px;
    }
}  
@media screen and (min-width:1600px) and (max-width:4000px){
    .FooterCopyright{
        margin-left: 16%;
    }
} 