.ContainerProfilo{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #171717;
    border-radius: 10px;
}
.LinkP{
    text-decoration: underline #f8f0ff;
}
.LinkP:hover{
    text-decoration: underline #f8f0ff;
    transform: scale(1.1);
}
.hr{
    border: solid 1px white;
    width: 100%;
    margin-top: 0;
}
.ProfiloLink{
    margin: 0;
    padding: 0;
    margin-left: 10px;
    color: #f8f0ff;
    font-size: 1.2rem;
}
.ProfiloLink:hover{
    color: #ffb300;
    text-decoration: underline;
}
