.ContainerCarrello{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #181818;
    border: solid #dddbff 1px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.ContainerCarrello2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #181818;
    border: solid #dddbff 1px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.OrdineBtn{
    background-color: #ffb300;
    border-radius: 20px;
    padding: 10px;
}
.Cards{
    height: 150px;
    
}